.contact-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    margin-top: 2%;
    background-color: #1e1e2b;
    color: white;
  }
  
  .contact-info p {
    margin: 8px 0;
    font-size: 10px;
    color: white;
  }
  
  .contact-info a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
  }
  
  .blinking-text {
    animation: blink 1s step-start infinite;
  }
  