nav {
  background-color: #282c34;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: right;
}

li {
  margin: 0 1rem;
}

a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin-right: 20px;
}
